* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --custom-color: #ff4500;
  --primary-color: white;
  --indicator-color: rgb(0, 0, 0);
}

body {
  overflow-x: hidden;
  font-family: ui-sans-serif system-ui sans-serif "Apple Color Emoji"
    "Segoe UI Emoji" "Segoe UI Symbol" "Noto Color Emoji";
}
/* navbar */

header {
  padding: 1em;
}

nav {
  display: flex;
  align-items: center;
  margin-top: 1.25rem;
  position: relative;
}

.logo {
  max-width: 100%;
  height: auto;
  padding: 0 5em;
}

.links {
  display: flex;
  list-style: none;
}

.links li {
  margin-left: 0 3em;
}

.links a {
  text-decoration: none;
  color: var(--indicator-color);
  padding: 0.5em 1em;
  font-weight: 600;
  font-size: 17px;
}

.links a:hover {
  color: var(--custom-color);
  border-radius: 5px;
}

.button button {
  background: var(--indicator-color);
  border: none;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 500;
  padding: 1rem 2.8rem;
  position: absolute;
  transition: 0.3s ease-in-out;
  margin-left: 490px;
  bottom: -5px;
}

.button button:hover {
  background-color: var(--custom-color);
}

.button i {
  margin-right: 0.5em;
}

main {
  flex: 1;
  padding: 2em;
}
/* home section */
.Home {
  margin: 0 60px;
  padding: 2em;
}

#Home {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#Home .content {
  flex: 1;
  padding: 1em;
}

#Home h1 {
  font-size: 60px;
  font-weight: bolder;
  line-height: 1.0;
}

#Home p {
  font-size: 18px;
  line-height: 1.5;
}

#Home .actions {
  display: flex;
  align-items: center;
}

#Home .actions button {
  background-color: var(--indicator-color);
  color: var(--primary-color);
  border: none;
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
}

#Home .actions button:hover {
  background-color: var(--custom-color);
}

.watch-video {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  padding: 30px;
  cursor: pointer;
}

.watch-video i {
  color: var(--indicator-color);
  margin-right: 0.5em;
  font-size: 1.5em;
}
.watch-video i:hover {
  color: var(--custom-color);
}

.watch-video h2{
font-size: 20px; 
font-weight: 600; 

}
/* colour background */

.colour-background {
  position: relative;
  background: url("Assets/Group\ 35930.png") no-repeat center center;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.box {
  color: var(--primary-color);
  background-color: var(--custom-color);
  border-radius: 8px;
}
.box-padding {
  padding: 2rem;
  margin: 20px;
}
.box-padding p {
  font-size: 16px;
  line-height: 24px;
}

.title h1 {
  font-size: 43px;
  font-weight: 950;
  margin: 20px;
}
.title h5 {
  font-size: 18px;
  color: var(--custom-color);
  font-weight: 600;
  margin: 20px;
}
#Features img {
  color: transparent;
  width: auto;
  height: 45rem;
  object-fit: cover;
  margin-left: -6rem;
}
#Features h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1.8px;
  color: var(--custom-color);
}
#Features h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 48px;
}
#Features h4 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}
#Features p {
  font-size: 16px;
  line-height: 24px;
  color: #808080;
}
/* image section */
.background-section {
  position: relative;
  background: url("Assets/ad-bg.png") no-repeat center center;
  background-size: cover;
  width: 85%;
  height: 508px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto;
  border-radius: 8px;
}

/* Contact and Links Section */
#contact-links {
  display: flex;
  align-items: flex-start;
  padding: 2em;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.contact-info img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1em;
}

.contact-details {
  text-align: center;
}

.links-info {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.links-row {
  display: flex;
}

.links-column {
  flex: 1;
}

.links-column h3 {
  margin-bottom: 0.5em;
}

.links-column ul {
  list-style: none;
}

.links-column ul li {
  margin-bottom: 0.5em;
}
.links-column ul li a {
  text-decoration: none;
  color: var(--indicator-color);
}

.links-column ul li input[type="email"] {
  padding: 1rem 2rem;
  margin-top: 0.5em;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
  border: none;
}

.links-column ul li button {
  background-color: var(--indicator-color);
  color: var(--primary-color);
  border: none;
  padding: 0 3rem;
  cursor: pointer;
  border-radius: 5px;
}

.links-column ul li button:hover {
  background-color: var(--custom-color);
}

footer {
  background-color: var(--primary-color);
  color: var(--indicator-color);
  text-align: center;
  padding: 1em 0;
}
